<template>
    <div class="site">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img src="img/logo-big.jpg" />
            </a>

            <div class="app-title d-none d-sm-block">
                TreeHacks Live
            </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">
                        <span class="text-uppercase countdown-status">
                            {{ endType === 'hack_start' ? 'Time Until Hacking Starts ' : '' }}
                            {{ endType === 'hack_end' ? 'Time Until Hacking Ends ' : '' }}
                            {{ endType === 'hack_over' ? 'Hacking is Over ' : '' }}
                        </span>
                        <span class="text-primary">{{ timeLeft }}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section class="container-countdown">
            <div class="countdown">
                <div class="countdown-items d-flex justify-content-center mt-0">
                    <div class="flex-row countdown--item">
                        <div class="countdown-item--content">{{ hoursLeft }}</div>
                        <div class="countdown-item--label">H</div>
                    </div>
                    <div class="flex-row countdown--item">
                        <div class="countdown-item--content">:</div>
                    </div>
                    <div class="flex-row countdown--item">
                        <div class="countdown-item--content">{{ minutesLeft }}</div>
                        <div class="countdown-item--label">M</div>
                    </div>
                    <div class="flex-row countdown--item">
                        <div class="countdown-item--content">:</div>
                    </div>
                    <div class="flex-row countdown--item">
                        <div class="countdown-item--content">{{ secondsLeft }}</div>
                        <div class="countdown-item--label">S</div>
                    </div>
                </div>
                <div class="text-center mt-2 mb-5 countdown--title" :class="{ 'countdown--title__over' : endType === 'hack_over' }">
                    {{ endType === 'hack_start' ? 'Time until hacking starts' : '' }}
                    {{ endType === 'hack_end' ? 'Time until hacking ends' : '' }}
                    {{ endType === 'hack_over' ? 'Hacking is over' : '' }}
                </div>
                <div class="d-flex justify-content-center">
                    <button v-scroll-to="'#schedule'" class="btn btn-light btn-cta">Check Event Schedule</button>
                </div>
            </div>
        </section>
        <section class="list-quick-links">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <ul class="nav nav-pills nav-fill pt-2 pb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="https://treehacks2018.slack.com/join/shared_invite/enQtMzAxOTQ3ODM5MTIyLTRkMmZhMTI3MWUzYjFiNjk3ZjFhYzAzMjgwZWE1NzVmYmJhYzQxMzBjMDNlZjRmMzg2ODg4Y2QyZTAxYWRhNTM">
                                    <img src="img/links/slack.svg" class="mr-2">Slack
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://treehacks-2018-6016.devpost.com/">
                                    <img src="img/links/devpost.svg" class="mr-2">Devpost
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://treehacks.quip.com/nNF7AUAEXiZE/Hacker-FAQs">
                                    <img width="20" height="20" src="img/links/help-circle.svg" class="mr-2">FAQ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://hardware.mlh.io/">
                                    <img width="40" height="20" src="img/links/mlh.png" class="mr-2 icon-mlh">MLH<span class="d-inline-block d-sm-none">&nbsp;HW</span><span class="d-none d-sm-inline-block">&nbsp;Hardware</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-5">
                        <h4 class="mb-3">Announcements</h4>
                        <div v-if="announcements.length === 0" class="alert alert-primary">
                            <span>No announcements found.</span>
                        </div>
                        <ul v-if="announcements.length > 0" class="list-unstyled mb-4">
                            <li v-for="(announcement, i) in showableAnnouncements" class="media announcement-item">
                                <div class="media-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="flex-row">
                                            <h6 class="mt-0 mb-0">{{ announcement.title }} <small :since="showableAnnouncements[i].created_at" :auto-update="60"></small></h6>
                                        </div>
                                    </div>
                                    <span v-if="announcement.description && announcement.description.length > 0" class="text-muted text-justify mt-2 d-inline-block">{{ announcement.description }}</span>
                                </div>
                            </li>
                        </ul>
                        <button v-on:click.stop.prevent="updateShowableCount" v-if="announcements.length > showableAnnouncementCount && showableAnnouncementCount != 0" class="btn btn-link">Show All Announcements</button>
                    </div>
                    <div class="offset-lg-2 col-md-12 col-lg-5">
                        <h4 class="mb-3">API Documentation</h4>
                        <div class="list-links mb-3">
                            <a target="_blank" href="https://cansofcom-innovation.github.io/">CANSOFCOM Challenge</a>
                            <a target="_blank" href="https://www.cockroachlabs.com/docs/stable">CockroachDB</a>
                            <a target="_blank" href="https://developers.coinbase.com/">Coinbase</a>
                            <a target="_blank" href="http://docs.cymon.io/">Cymon (eSentire)</a>
                            <a target="_blank" href="https://firebase.google.com/docs">Firebase</a>
                            <a target="_blank" href="https://www.ibm.com/watson/services/visual-recognition/">IBM Watson</a>
                            <a target="_blank" href="https://support.pagerduty.com/docs/services-and-integrations">Pagerduty</a>
                            <a target="_blank" href="https://docs.connect.squareup.com/articles/point-of-sale-api-overview">Square</a>
                            <a target="_blank" href="https://v3v10.vitechinc.com/hackthenorth2017/">Vitech</a>
                            <a target="_blank" href="https://codx.ca/hack-the-north">Open Data Exchange</a>
                            <a target="_blank" href="http://www.xe.com/xecurrencydata/">XE.com</a>
                            <a target="_blank" href="https://www.manifold.co/hackthenorth">Manifold</a>
                        </div>
                        <h4 class="mb-3">Location</h4>
                        <div class="list-links mb-3 list-sm">
                            <a target="_blank" href="https://www.google.com/maps/place/Jen-Hsun+Huang+Engineering+Center/@37.4277284,-122.1763852,17z/data=!3m1!4b1!4m5!3m4!1s0x808fbb2ad1efaf1d:0xe4be58a43178043f!8m2!3d37.4277284!4d-122.1741965">Huang</a>
                            <a target="_blank" href="https://www.google.com/maps/place/Arrillaga+Outdoor+Education+and+Recreation+Center,+285+Santa+Teresa+St,+Stanford,+CA+94305/@37.4267541,-122.1796954,17z/data=!3m1!4b1!4m5!3m4!1s0x808fa4d5a0910a2f:0xb8d311c1beb55dbb!8m2!3d37.4267759!4d-122.1775318">AOERC</a>
                        </div>
                        <h4 class="mb-3">Hackpacks</h4>
                        <div class="d-flex d-sm-block justify-content-center">
                            <div class="flex-row">
                                <h6 class="mb-2 text-muted">iOS</h6>
                            </div>
                            <div class="flex-row">
                                <div class="list-inline mb-2">
                                    <span>Introduction</span><span>HealthKit</span><span>ARKit</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex d-sm-block justify-content-center">
                            <div class="flex-row">
                                <h6 class="mb-2 text-muted">Web</h6>
                            </div>
                            <div class="flex-row">
                                <div class="list-inline mb-2">
                                    <span>General</span><span>API</span><span>Chrome Extension</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex d-sm-block justify-content-center">
                            <div class="flex-row">
                                <h6 class="mb-2 text-muted">Bot</h6>
                            </div>
                            <div class="flex-row">
                                <div class="list-inline mb-2 list-sm">
                                    <span>Chatbot</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="site-section">
            <h4 class="mt-3 mb-5 text-center">Schedule</h4>
            <event-schedule></event-schedule>
        </section>
        <section class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <a class="twitter-timeline" data-theme="light" data-tweet-limit="2" href="https://twitter.com/hackwithtrees">Tweets by hackwithtrees</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="pt-5 pb-5 pl-3 pr-3">
            <h6 class="text-center">Thanks to our friends at <a href="https://hackthenorth.com">Hack the North</a> for help with the schedule</h6>
        </footer>  
    </div>
</template>

<script>
    export default {
        props: [
            'hoursLeft',
            'minutesLeft',
            'secondsLeft',
            'timeLeft',
            'endType'
        ],
        created() {
            this.fetchNewAnnouncements();
        },
        mounted() {},
        data() {
            return {
                announcements: [],
                showableAnnouncementCount: 5,
                fetchTimeout: 60000,
                latestCreatedTime: null,
            }
        },
        methods: {
            updateShowableCount: function() {
                this.showableAnnouncementCount = 0;
            },
            fetchNewAnnouncements: function() {
                axios.get(
                    'announcements' + (this.latestCreatedTime !== null ? '?latest_created_time=' + this.latestCreatedTime : '')
                ).then( response => {
                    this.announcements = _.union(response.data.list, this.announcements);
                    this.latestCreatedTime = response.data.latest_created_time;

                    if(response.data.list.length === 0)
                        this.fetchTimeout = Math.max(this.fetchTimeout / 2, 15000);
                    else
                        this.fetchTimeout = 60000;

                    setTimeout(this.fetchNewAnnouncements, this.fetchTimeout);
                });
            }
        },
        computed: {
            showableAnnouncements: function() {
                return this.showableAnnouncementCount > 0 ? _(this.announcements).take(this.showableAnnouncementCount).value() : this.announcements;
            }
        }
    }
</script>
